html,body,div{
	margin:0;
	padding:0;
}

.main{
	width:960px;
	margin:auto;
}

.input {
	width: 50%;
	align-items: center;
	display: inline-block;
}

.module {height:600px;
				width: 100%;
				text-align: center;
	-webkit-flex: 1;  /* Safari 6.1+ */
	-ms-flex: 1;  /* IE 10 */
	flex: 1;}

.input {
	margin-top: 15px;
}

.topHead {
	height: window.innerHeight;
}

#firstModule{background-color: rgb(200,200,200);}
#secondModule{background-color: rgb(175,175,175);}
#thirdModule{background-color: rgb(150,150,150);}
#fourthModule{background-color: rgb(220,150,150);}
#animate{opacity:0.4;}
#animate2{opacity:0;}
.red {background-color: red; height: 50px;}
.blue {background-color: blue; height: 50px;}
.yellow {background-color: yellow; height: 50px;}
.prac {height: 50px;}
